In [1]:
def Hi():
  print("Hello World~!!")

Hi()

Hello World~!!

In [6]:
def triangle():
  for i in range(5):
    for j in range (i+1):
      print ('*', end='')
    print()
triangle()

*
**
***
****
*****

In [7]:
def name(name):
  print(f"내 이름은 {name}야 만나서 반가와")

name("채송화")
name("아이유")

내 이름은 채송화야 만나서 반가와
내 이름은 아이유야 만나서 반가와

In [8]:
def even(a):
  if a%2==0:
    print("짝수")
  else:
    print("홀수")
even(11)

홀수

In [9]:
def triangle(n):
  for i in range(n):
    for j in range(i+1):
      print("*",end='')
    print()
triangle(3)

*
**
***

In [10]:
def print_n_times(value,n):
  for i in range(n):
    print(value)

print_n_times("안녕하세요",2)
print_n_times("반가워요",3)

안녕하세요
안녕하세요
반가워요
반가워요
반가워요

In [11]:
def avg(a,b,c):
  sum=a+b+c
  print(sum/3)
avg(3,5,10)

6.0

In [12]:
import random
def dice_n_times(n):
  for i in range(n):
    k=random.randint(1,6)
    print(i+1,"번째 주사위 굴린 결과:",k)
dice_n_times(6)

1 번째 주사위 굴린 결과: 6
2 번째 주사위 굴린 결과: 5
3 번째 주사위 굴린 결과: 1
4 번째 주사위 굴린 결과: 3
5 번째 주사위 굴린 결과: 6
6 번째 주사위 굴린 결과: 4

In [15]:
def intsum(*ints):
  sum=0
  for i in ints:
    sum+=i
  return sum
print(intsum(1,2,3,))
print(intsum(5,7,9,11,13))
print(intsum(8,9,6,2,9,7,5,8))

6
45
54

In [16]:
def print_n_times(n, *values):
  for i in range(n):
    for value in values:
      print(value, end='')
    print()
print_n_times(3,"안녕하세요","즐거운","파이썬")

안녕하세요즐거운파이썬
안녕하세요즐거운파이썬
안녕하세요즐거운파이썬

In [21]:
def add_mul(choice,*args):
  if choice =="add":
    result=0
    for i in args:
      result=result+i

  elif choice=="mul":
    result=1
    for i in args:
      result=result*i
  return result
print(add_mul('add',1,2,3,4,5))
print(add_mul('mul',1,2,3,4,5))

15
120

In [22]:
def star(a,*args):
  for i in args:
    for j in range(int(i)):
      print(a,end='')
    print()
star('*',3,5,2)

***
*****
**

In [23]:
def print_n_times(value,n=2):
  for i in range(n):
    print(value)
print_n_times("안녕하세요")
print_n_times("안녕히 가세요",3)

안녕하세요
안녕하세요
안녕히 가세요
안녕히 가세요
안녕히 가세요

In [24]:
def calcstep(begin, end, step=1):
  sum=0
  for num in range(begin,end+1,step):
    sum+=num
  print("{}부터 {}까지 숫자 중 {}간격씩 더한 값은".format(begin,end,step,end=''))
  return sum
print(calcstep(1,100,1))
print(calcstep(1,100))

1부터 100까지 숫자 중 1간격씩 더한 값은
5050
1부터 100까지 숫자 중 1간격씩 더한 값은
5050

In [26]:
def fn(a,b,c,d,e):
  print(a,b,c,d,e)
fn(1,2,3,4,5)
fn(a=1,b=2,c=3,d=4,e=5)
fn(e=5,c=3,b=2,a=1,d=4)
fn(1,2,d=4,c=3,e=5)

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [28]:
fn(d=4,e=5,1,2,3)

SyntaxError: ignored

In [29]:
def fn(a,b,c,*d):
  print(a,b,c,d)

fn(c=3,b=2,a=1,4,5)
fn(1,2,c=3,4,5)
fn(4,5,a=1,b=2,c=3)

SyntaxError: ignored

In [31]:
def return_test():
  print("A위치 입니다.")
  return
  print("B위치 입니다.")

return_test()

A위치 입니다.

In [32]:
def return_test():
  return 100

value=return_test()
print(value)

100

In [33]:
def add(a,b):
  return 100

value=return_test()
print(value)

100

In [34]:
def add(a,b):
  return a+b
value=add(123,300)
print(value)

423

In [35]:
def big(a,b):
  if a>b:
    return a
  else:
    return b

value=big(5,11)
print(value)

11

In [36]:
def sum_to_n(n):
  sum=0
  for i in range(1,n+1):
    sum+=i
  return sum
sum_to_n(10)

55

In [37]:
def min(*numbers):
  min_value=numbers[0]
  for num in numbers:
    if min_value>num:
      min_value=num
  return min_value

result=min(5,2,7,4)
print("최소값:",result)

최소값: 2

In [39]:
def multi_num(num,start,end):
  result=[]
  for n in range(start,end):
    if n% num==0:
      result.append(n)
  return result
mult=multi_num(17,1,200)
print(mult)

[17, 34, 51, 68, 85, 102, 119, 136, 153, 170, 187]

In [40]:
def min_max(*args):
  min = args[0]
  max = args[0]
  for arg in args:
    if min>arg:
      min=arg
    if max<arg:
      max=arg
  return min,max
min,max=min_max(52,-3,23,89,-21)
print(f"최소:{min} 최대:{max}")

최소:-21 최대:89

In [43]:
import random
def position(number,title,column):
  print(title)
  students=list(range(1,number+1))
  random.shuffle(students)
  pos=""
  for i in range(0,number):
    if students[i]<10:
      pos=pos+"0"+str(students[i])+"번\t"
    else:
      pos=pos+str(students[i])+"번\t"
    if(i+1)%column==0:
      pos=pos+'\n'
  print(pos)
position(20,title="3-2반",column=5)

3-2반
13번	15번	06번	14번	08번
02번	03번	17번	18번	12번
05번	09번	11번	10번	20번
01번	16번	19번	07번	04번

In [44]:
def hi():
  name=input("이름은?")
  print('hi!')
  print("My name is", name, '!')
print('자기소개를 시작합니다.')
hi
print(name,'님 안녕하세요.')

자기소개를 시작합니다.
<function name at 0x7be15bfa4b80> 님 안녕하세요.

In [48]:
def hi():
  name=input('이름은?')
  print("hi!")
  print("My name is",name,'!')
  return name
print("자기소개를 시작합니다")
person=hi()
print(person,"님 안녕하세요")

자기소개를 시작합니다
이름은?james
hi!
My name is james !
james 님 안녕하세요

In [49]:
def func1():
  a+=2
  b+=2
  print(a,b)
a,b=5,10
func1()

UnboundLocalError: ignored

In [50]:
def func1():
  #a+=2
  #b*=2
  print(a,b)
a,b=5,10
func1()

5 10

In [52]:
def func1():
  global a,b
  a+=2
  b*=2
  print(a,b)
a,b=5,10
func1()
func1()

7 20
9 40

In [55]:
def func1():
  global a,b
  a+=2
  b*=2
  print(a,b)
a,b=5,10
for i in range (5):
  func1()

7 20
9 40
11 80
13 160
15 320

In [56]:
def reward_penalty(kind,points):
  global current_point
  print('현재 점수:',current_point)
  if kind=="상점":
    current_point+=points
  elif kind == "벌점":
    current_point-=points
current_point=5

reward_penalty('상점',5)
print("최종점수 :", current_point)

현재 점수: 5
최종점수 : 10

## **파일처리**

In [59]:
from os import close
#ex1:파일 열고 닫기
file=open('basic.txt','w')
file.write("Hello Pyton Programming...!")
file.close()

In [62]:
#ex2:파일 열고 닫기
with open('basic.txt','w') as file:
  file.write('Hello Pyton Programming...!!!')

In [65]:
#ex3:read() 함수로 텍스트 읽기
with open('basic.txt','r') as file:
  contents=file.read()
print(contents)

In [80]:
#랜덤하게 50명의 키와 몸무게 만들기

import random

hanguls=list('가나다라마바사아자차카타파하')

with open('basic.txt','w') as file:
  file.write("이름  키  몸무게\n")
  for i in range(50):
    name = random.choice(hanguls)+random.choice(hanguls)
    cm=random.randrange(160,190)
    kg=random.randrange(40,100)
    file.write("{}  {}  {}\n".format(name,cm,kg))