<a href="https://colab.research.google.com/github/miren-doeun/2023Pyton_Study/blob/main/%EA%B9%80%EB%8F%84%EC%9D%80_205_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
score=[88,76,92,98],[65,70,58,82],[82,80,78,88]
total=0
totalsub=0
for i in score:
  total=0
  for j in i:
    total+=j
  totalsub+=total/4
  print(f"총점 : {total} 평균: {total/4}")
print(f"전체평균: {totalsub/3}")

총점 : 354 평균: 88.5
총점 : 275 평균: 68.75
총점 : 328 평균: 82.0
전체평균: 79.75

In [24]:
for i in [1,2,3]:
  for j in ["a","b","c"]:
    print(i*j,end=" ")

a b c aa bb cc aaa bbb ccc

In [40]:
score=[88,76,92,98],[65,70,58,82],[82,80,78,88]
total=0
totalsub=0
for i in range(len(score)):
  total=0
  for j in range(len(score[i])):
    total+=score[i][j]
  totalsub+=total/4
  print(f"총점 : {total} 평균: {total/4}")
print(f"전체 평균 : {totalsub/3}")

총점 : 354 평균: 88.5
총점 : 275 평균: 68.75
총점 : 328 평균: 82.0
전체 평균 : 79.75

In [47]:
s='python'
print(s[2:5])
print(s[3:])
print(s[0:4])
print(s[2:4])
print(s[4:])

tho
hon
pyth
th
on

In [49]:
s="pyhton"
print(s[0])
print(s[-1])

p
n

In [51]:
s="pyhton"
print(s[10])

IndexError: ignored

In [57]:
s1=input("첫번째 문자열: ")
s2=input("두번째 문자열: ")
s3=input("세번째 문자열: ")
if s1[-1]==s2[0] and s2[-1]==s3[0] and s3[-1]==s1[0]:
  print("good")
else:
  print("bad")

첫번째 문자열: turtle
두번째 문자열: error
세번째 문자열: robot
good

In [66]:
s="python"
for i in range(len(s)):
  print(s[i],end=",")

p,y,t,h,o,n,

In [69]:
s="python"
for c in s:
  print(c,end=",")

p,y,t,h,o,n,

In [74]:
number=input("하이픈(-)을 포함한 유대번호를 입력하세요:")
for i in number:
  if i!='-':
    print(i,end="")

하이픈(-)을 포함한 유대번호를 입력하세요:010-3980-6164
01039806164

In [81]:
s="python"
n="여섯글자이다"
p=0
l=0
for i in s:
  p+=1
for j in n:
  l+=1
print(p)
print(l)

6
6

In [88]:
sentence=input("문자열 입력:")
n=0
for i in sentence:
  n+=1
  if i=="t":
    print(n ,end=" ")

문자열 입력:test
1 4

In [145]:
sentence=input("문장을 입력해 주세요 : ")
i=len(sentence)-1
while i>=0:
  if sentence[i]==' ':
    print("-",end='')
  else:
    print(sentence[i],end="")
  i-=1

문장을 입력해 주세요 : fo or
ro-of

In [114]:
data =input("문자열 입력:")
for i in range(len(data)-1):
  print(data[i], data[i+1], sep="")

문자열 입력:python
py
yt
th
ho
on

In [117]:
s="차종: 코란도C, 제조사:쌍용, 배기량:1998"
print(s[14:16])

쌍용

In [122]:
file="20210505-104830.jpg"
print("촬영 날짜: "+file[4:6]+"월"+file[6:8]+"일")
print("촬영 시간: "+file[9:11]+"시"+file[11:13]+"분")
print("확장자:"+file[16:])

촬영 날짜: 05월05일
촬영 시간: 10시48분
확장자:jpg

In [136]:
yoil="월화수목금토일"
print(yoil[0: :2])
print(yoil[-1: :-1])

월수금일
일토금목수화월

In [144]:
jumin="901231-1914983"
year=jumin[0:2]
if jumin[7]=='1':
  gender="남자"
else:
  gender="여자"
print(f"{year}년생 {gender}입니다.")

90년생 남자입니다.