In [3]:
a=int(input("a입력:"))
b=int(input("b입력:"))
if a ==3 and b==4:
  print("OK")
if a ==3 or b ==4:
  print("Okay")

a입력:3
b입력:4
OK
Okay

In [7]:
x=int(input("숫자입력:"))
if x > 10 and x % 2==0:
  print("10 초과 짝수")

숫자입력:18
10 초과 짝수

In [10]:
x=int(input("필기 성적을 입력하세요:"))
y=int(input("실기 성적을 입력하세요:"))
if (x+y)/2>=60:
  print("합격!")
else:
  print("불합격!")

필기 성적을 입력하세요:90
실기 성적을 입력하세요:85
합격!

In [22]:
age=int(input("몇 살이세요?:"))
if age<7 or age>=65:
  print("입장료는 무료입니다.")
else:
  print("입장료는 3000원 입니다.")

몇 살이세요?:18
입장료는 3000원 입니다.

In [23]:
age=int(input("나이:"))
height=int(input("키:"))
if age>=10 and height>=150:
  print("놀이기구를 탈 수 있다.")
else:
  print("놀이기구를 탈 수 없다.")

나이:12
키:140
놀이기구를 탈 수 없다.

In [26]:
id=input("아이디를 입력하세요:")
lv=int(input("회원 레벨을 입력하세요:"))
if id=='admin' or lv==1:
  print("관리자입니다.")
else:
  print("관리자가 아닙니다.")

아이디를 입력하세요:holy
회원 레벨을 입력하세요:1
관리자입니다.

In [29]:
a=int(input("정수를 입력하세요:"))
if a>=1 and a<=100:
  print(a, "은(는) 1~100사이에 있다.")
else:
  print(a, "은(는) 1~100사이에 없다.")

정수를 입력하세요:24
24 은(는) 1~100사이에 있다.

In [33]:
month=int(input("몇 월인가요?:"))
if 3<=month<=5:
  print("현재는 봄입니다.")
elif 3<=month<=5:
  print("현재는 봄입니다.")
elif 6<=month<=8:
  print("현재는 여름입니다.")
elif 9<=month<=11:
  print("현재는 가을입니다.")
elif 12==month or month==1:
  print("현재는 겨울입니다.")
else :
  print("그런 월은 없는데요 손님?")

몇 월인가요?:12
현재는 겨울입니다.

In [36]:
a=int(input("구매금액:"))
if a>=20000:
  if a<50000:
    print("배송비 2500원이 추가됩니다.")
  else:
    print("무료배송입니다.")
else:
  print("새벽배송이 불가능합니다.")

구매금액:60000
무료배송입니다.

In [39]:
a=int(input("점수를 입력하세요:"))
if a>=90:
  print("A등급")
elif a>=80:
  print("B등급")
elif a>=70:
  print("C등급")
else :
  print("F등급")

점수를 입력하세요:55
F등급

In [43]:
a=int(input("첫 번째 수:"))
b=int(input("두 번째 수:"))
c=int(input("세 번째 수:"))
if a>b and a>c:
  print("가장 큰 수는", a,"입니다.")
elif b>c :
  print("가장 큰 수는", b,"입니다.")
else:
  print("가장 큰 수는", c,"입니다.")

첫 번째 수:123
두 번째 수:3
세 번째 수:2
가장 큰 수는 123 입니다.

In [47]:
a=int(input("온도를 입력하세요:"))
if a<0:
  print("고체")
elif a>=0 and a<100:
  print("액체")
else:
  print("기체")

온도를 입력하세요:-2
고체

In [51]:
en=int(input("영어시험 점수를 입력하세요:"))
me=int(input("수학시험 점수를 입력하세요:"))
if en>=80 and me>=80:
  print("합격")
elif en >=80 or me>=80:
  print("재시험")
else:
  print("불합격")

영어시험 점수를 입력하세요:60
수학시험 점수를 입력하세요:60
불합격

In [57]:
print("1: 매우만족   2:만족    3:불만족")
a=int(input("서비스가 어떠셨나요?:"))
b=int(input("음식값을 입력해 주세요:"))
if a==1:
  print("팁:", int(b*0.2))
elif a==2:
  print("팁:", int(b*0.1))
else:
  print("팁:", int(b*0.05))

1: 매우만족   2:만족    3:불만족
서비스가 어떠셨나요?:3
음식값을 입력해 주세요:1000
팁: 50

In [62]:
a=int(input("물건 구매가를 입력하세요:"))
print("구매가:",a)
if a>=50000 and a<=300000:
  print("할인률7.5%")
  print("할인 금액", int(a*0.075))
  print("지불 금액", int(a-(a*0.075)))
elif a<50000:
  print("할인률5%")
  print("할인 금액", int(a*0.05))
  print("지불 금액", int(a-(a*0.05)))
else:
  print("할인률10%")
  print("할인 금액", int(a*0.1))
  print("지불 금액", int(a-(a*0.1)))

물건 구매가를 입력하세요:60000
구매가: 60000
할인률7.5%
할인 금액 4500
지불 금액 55500

In [70]:
print("원하는 메뉴를 선택하세요")
print("1.떡볶이 3000원")
print("2.김밥 2500원")
print("3.튀김 3500원")
a=int(input("번호 선택:"))
if a==1:
  print("당신은 떡볶이를 선택하셨군요!")
  b=int(input("떡볶이 몇 인분을 주문하시겠습니까?"))
  print("총 가격은", 3000*b,"원 입니다.")
elif b==2:
  print("당신은 김밥을 선택하셨군요!")
  b=int(input("김밥 몇 인분을 주문하시겠습니까?"))
  print("총 가격은", 2500*b,"원 입니다.")
elif b==3:
  print("당신은 튀김을 선택하셨군요!")
  b=int(input("튀김 몇 인분을 주문하시겠습니까?"))
  print("총 가격은", 3500*b,"원 입니다.")
else:
  print("1, 2, 3 중 하나를 선택해주세요")

원하는 메뉴를 선택하세요
1.떡볶이 3000원
2.김밥 2500원
3.튀김 3500원
번호 선택:2
당신은 김밥을 선택하셨군요!
김밥 몇 인분을 주문하시겠습니까?3
총 가격은 7500 원 입니다.

In [82]:
kg=int(input("체중을 입력하세요:"))
m=float(input("키를 입력하세요:"))
bmi=kg/(m*m)
if bmi<=23 and bmi>18.5:
  print("당신의 BMI지수는",bmi,"이며 정상입니다.")
elif bmi>23 and bmi<=25:
  print("당신의 BMI지수는",bmi,"이며 과체중입니다.")
elif bmi<=18.5:
  print("당신의 BMI지수는",bmi,"이며 저체중입니다.")
else:
  print("당신의 BMI지수는",bmi,"이며 비만입니다.")

체중을 입력하세요:59
키를 입력하세요:1.65
당신의 BMI지수는 21.6712580348944 이며 정상입니다.

In [83]:
x=17
if x>10:
  if x % 2 ==0:
    print("10초과 짝수")
  else:
    print("10초과 홀수")
else:
  print("10이하")

10초과 홀수

In [88]:
id=input("아이디를 입력하세요:")
lv=int(input("회원 레벨을 입력해 주세요:"))
if id=="admin":
  print("모든 콘텐츠 이용가능")
elif lv>=2 and lv<=7:
  print("일부 콘텐츠 이용 가능")
else:
  print("콘텐츠 이용 불가능")

아이디를 입력하세요:admin
회원 레벨을 입력해 주세요:1
모든 콘텐츠 이용가능

In [93]:
a=int(input("현재년을 입력해 주세요 : "))
b=int(input("현재월을 입력해 주세요 : "))
c=int(input("현재일을 입력해 주세요 : "))
d=int(input("출생년을 입력해 주세요 : "))
e=int(input("출생월을 입력해 주세요 : "))
f=int(input("출생일을 입력해 주세요 : "))
print("-------------------------------------------------")
print("오늘 날짜 :", a,"년",b,"월",c,"일")
print("생년 월일 :", d,"년",e,"월",f,"일")
print("-------------------------------------------------")
if b>e:
  print("만 나이 :",a-d,"세")
elif b==e:
  if f<c:
    print("만 나이 :",a-d,"세")
  else:
    print("만 나이 :",a-d-1,"세")
  print("-------------------------------------------------")
else:
  print("만 나이 :",a-d-1,"세")
print("-------------------------------------------------")

현재년을 입력해 주세요 : 2020
현재월을 입력해 주세요 : 1
현재일을 입력해 주세요 : 27
출생년을 입력해 주세요 : 1997
출생월을 입력해 주세요 : 5
출생일을 입력해 주세요 : 7
-------------------------------------------------
오늘 날짜 : 2020 년 1 월 27 일
생년 월일 : 1997 년 5 월 7 일
-------------------------------------------------
만 나이 : 22 세
-------------------------------------------------

In [94]:
import datetime
from pytz import timezone
now = datetime.datetime.now(timezone('Asia/Seoul'))

print(now)
print(now.year)
print(now.month)
print(now.day)
print(now.hour)
print(now.minute)
print(now.second)

2023-03-30 11:17:53.084368+09:00
2023
3
30
11
17
53

In [96]:
import datetime
from pytz import timezone
now = datetime.datetime.now(timezone('Asia/Seoul'))
if now.hour>=12:
  a="오후"
else:
  a="오전"


print("현재시간은",now.hour,"시",now.minute,"분으로", a,"입니다")

현재시간은 11 시 21 분으로 오전 입니다

In [97]:
import datetime
from pytz import timezone
now = datetime.datetime.now(timezone('Asia/Seoul'))

if 3>=now.month>=5:
  print("이번 달은",now.month,"로 봄입니다.")
elif 6>now.month>=8:
  print("이번 달은",now.month,"로 여름입니다.")
elif 9>now.month>=11:
  print("이번 달은",now.month,"로 가을입니다.")
else:
  print("이번 달은",now.month,"로 겨울입니다.")

이번 달은 3 로 겨울입니다.